/***** Headlines page *****/
.headlineImage1 {
	position:relative;
	float:left;
	margin-right:20px;
	margin-bottom:20px;
	max-width:300px;
}
.headlineImage2 {
	position:relative;
	float:right;
	margin-left:20px;
	margin-bottom:20px;
	max-width:300px;
}

.headlineImage1 img, .headlineImage2 img {
	max-width:300px;
}

.articleDesc {
	margin-bottom:15px;
}

/***** Pagination *****/

ul.pagination {
width:auto;
min-height:41px;
margin:10px 5px 20px 0;
list-style-type:none;
display:block;
clear:both;
position:relative;
border-top:1px solid #e5e5e5;
padding:0;}

ul.pagination {
margin: 5px 0 0 0;}

ul.pagination div { /* social buttons - inline with pagination */
width: auto;
float: right;
margin: 4px 0 0 0;
height: 32px;}

ul.pagination li {
float: left;
margin: 6px 6px 0 1px;
display: block;
min-width: 30px;
height: 30px;
padding: 0 0px;
display: block;
background-color: #ececec;}

ul.pagination li:first-child {
margin-left: 1px;} /* Add space for left outline */

ul.pagination li a { 
display: table-cell;
vertical-align: middle;
text-align: center;
text-decoration: none;
color: #444;
min-width: 30px;
height: 30px;
padding: 0 2px;
font-size: 12px;
outline: solid 1px #ccc;}

ul.pagination li a.inactive { 
color: #bbb;
text-shadow: none;
border-color: #ccc;
background-color: #ececec;
cursor: default;}

ul.pagination li a img { border:none}

ul.pagination li a:hover, 
ul.pagination li a.current { 
color: #fff;
font-weight: bold;
outline-color: #111;
background-color: #444;
text-shadow: 0 -1px 1px rgba(0,0,0,0.5);}

ul.pagination li a.current,
ul.pagination li a.current:hover { 
cursor: default;}

ul.pagination li a.current:hover {
font-weight: bold;}

ul.pagination li a:hover {
font-weight: normal;}

ul.pagination .button_follow:first-child {
margin-right: 1px;}

ul.pagination .button_follow img { /* default image state */
margin-top: 1px;}

ul.pagination li a.inactive:hover {
color: #bbb;
text-shadow: none;
outline: 1px solid #ccc;
background-color: #ececec;}

/***** Article Pagination *****/
.pagination_wrapper {
clear: both;
height: 80px;
margin-bottom: 20px;
float: right;
position: relative;
left: -53%;
text-align: center;
}

ul.pagination.article {
display: block;
clear: both;
height: 20px;
margin: 10px auto 20px;
position: relative;
left: 50%;
padding: 15px 10px 5px;
border: 0px;
}

ul.pagination.article li {
margin: 0;
padding: 0 5px;
min-width: 10px;
height: 30px;
background-color: transparent;
border-right: 1px solid #eee;}

ul.pagination.article li a {
font-size: 27px;
display: block;
min-width: 10px;
width: 20px;
height: 27px;
background: 0 0;
margin: 0px 0;
padding: 0;
text-shadow: none;
outline: 0;  
text-decoration: none;
font-weight: 700;
border-bottom: 2px solid #0164c8;}

ul.pagination.article li.next {
border-right: none;
width: auto;}

ul.pagination.article li.next a {
width: auto;}

ul.pagination.article li.previous {
width: auto;}

ul.pagination.article li.previous a {
width: auto;}

ul.pagination.article.previous li:last-child {
border-right: none;}

ul.pagination.article li a,
ul.pagination.article li a:visited {
color: #0164c8;}

ul.pagination.article li.current a,
ul.pagination.article li.current a:visited,
ul.pagination.article li.current a:hover {
color: #666;
font-weight: normal;
border-bottom: 0;
cursor: default;}

ul.pagination.article li a:hover {
color: #666;
border-bottom: 2px solid #444;}

/**********/

/***** Article ad unit *****/

.articleTopAd { width:auto; height:auto; margin: 15px 0px 15px 0px; }

/* ==== Mobile Portrait for standard 320px - portrait on an iPhone, but not landscape ==== */
@media
only screen and (max-width: 479px) {
	.articleTopAd { float:none; width:auto; margin: 20px 0px; }
	
	/***** Headlines page *****/
	.headlineImage1, .headlineImage2 {
		position:relative;
		float:left;
		margin: 20px 15px 15px 0px;
		max-width:100px;
	}
	.headlineImage1 img, .headlineImage2 img {
		max-width:100px;
	}
	
}